<div>

    <br />
    @{
        var homeController = new SONEPAR.PORTALADMINISTRADOR.WEB.Areas.Administracion.Controllers.UsuarioController();
    }
    <ul class="site-menu">

        <li class="site-menu-item has-sub">
            <a href="~/Views_aspx/MapaMoviles/index.html">
                <i class="site-menu-icon wb-map" aria-hidden="true"></i>
                <span class="site-menu-title">Link 1</span>
            </a>
        </li>
        <li class="site-menu-item has-sub title_">
            <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Administración</span>
            </a>
            <ul class="site-menu-sub">

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.Rol.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ListRoles", "Rol", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Roles</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.Usuario.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("ListUsuarios", "Usuario", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Usuarios</span>
                        </a>
                    </li>
                }

                @if (Session.GetPermisosVista().Intersect(new[] { ConstantHelper.Vistas.Administracion.CONFIG.LISTAR }).Any())
                {
                    <li class="site-menu-item">
                        <a class="animsition-link" href="@Url.Action("LstConfigs", "Config", new {Area = ConstantHelper.Area.ADMINISTRACION})"
                           data-animsition-out-class="rotate-out"
                           data-animsition-out-duration="500">
                            <span class="site-menu-title">Configuración</span>
                        </a>
                    </li>
                }

            </ul>
        </li>

        <li class="site-menu-item has-sub title_">
            <a href="javascript:void(0)">
                <i class="site-menu-icon wb-dashboard" aria-hidden="true"></i>
                <span class="site-menu-title">Aprobaciones</span>
            </a>

            <ul class="site-menu-sub">
                <li class="site-menu-item">
                    <a class="animsition-link" href="@Url.Action("List", "Documento", new {Area = ConstantHelper.Area.ADMINISTRACION, documentType = DocumentType.Reembolso})"
                       data-animsition-out-class="rotate-out"
                       data-animsition-out-duration="500">
                        <span class="site-menu-title">Ver aprobaciones</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
</div>